@page "/UnauthorizedIndex"

<h2 class="mt-4">User Not Authenticated</h2>

<MudText>
    Any tests that do not require authorized use will be available here.
</MudText>
<MudText>
    Login to access the functions that require authorized use.
</MudText>

@code {
    
}