@page "/UnauthorizedIndex"

<h2 class="mt-4">User Not Authenticated</h2>

<MudText>
    Landing page when user is not logged in.
</MudText>
<MudText>
    Login to access the functions that require authorized use.
</MudText>

@code {
    
}