@page "/photoshare"
<h3>photoshare</h3>

@code {
    // Get current status for user.
    // If enabled, show "stuff". Maybe a carousel with pics.
    // If not enabled, show missing properties dialog.
    //    Upon submission, get status again. Repeat.
}