<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="debug"
      internalLogFile="c:\home\data\internal-nlog-lamarr-webui.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Targets.Syslog" />
    </extensions>

    <targets>
        <target xsi:type="Debugger" name="debuglog" layout="${message}" />
        <target xsi:type="File"
                name="log"
                fileName="c:\home\data\file-nlog-lamarr-webui.log"
                layout="${date}: ${message}"
                maxArchiveFiles="4"
                archiveAboveSize="10240"
                archiveEvery="Day">
        </target>
        <target name="syslog" type="Syslog">
            <messageCreation>
                <facility>Local7</facility>
                <rfc5424 hostname="Lamarr" appName="ui" />
            </messageCreation>
            <messageSend>
                <protocol>TCP</protocol>
                <tcp>
                    <server>logs6.papertrailapp.com</server>
                    <port>41936</port>
                    <tls>
                        <enabled>true</enabled>
                    </tls>
                </tcp>
            </messageSend>
        </target>
    </targets>

    <rules>
        <logger name="Microsoft.Hosting.Lifetime" minLevel="Info" writeTo="debuglog" />

        <!--Disable logging of specific overly talkative loggers-->
        <logger name="Microsoft*" maxlevel="Info" final="true" />
        <!--END Disable logging of specific overly talkative loggers-->

        <logger name="*" minlevel="Info" writeTo="syslog" />
        <logger name="*" minLevel="Fatal" writeTo="log" />
    </rules>
</nlog>
